.images{
    width: 90%;
    height: 90%;
    transition: transform 0.6s ease-in-out, box-shadow 0.8s ease-in-out;
}

.images:hover{
    transform: scale(1.15);
    position: relative;
    z-index: 10;
}