<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto gap-5">
      <a class="nav-item nav-link active text-white" routerLink="/home" >{{ 'NAVBAR.HOME' | translate }} </a>
      <a class="nav-item nav-link text-white" href="#">{{ 'NAVBAR.PORTFOLIO' | translate }}</a>
      <a class="nav-item nav-link text-white" href="#">{{ 'NAVBAR.CERTIICATES' | translate }}</a>
    </div>
  </div>
</nav>
