<div class="row p-4 p-md-5 gx-6">
  <div class="card bg-transparent border-0" style="width: 20rem">
    <img class="card-img-top" src="media/portfolio/E-Comerce.png" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title text-white">{{ 'PORTFOLIO.TITLE-2' | translate }}</h4>
      <div class="row align-items-start">
        <div class="col-auto">
          <p class="border-0 text-white d-inline-block p-1 rounded bgTec small fw-semibold">JavaScript</p>
        </div>
        <div class="col-auto">
          <p class="border-0 text-white d-inline-block p-1 rounded bgTec small fw-semibold">CSS</p>
        </div>
        <div class="col-auto">
          <p class="border-0 text-white d-inline-block p-1 rounded bgTec small fw-semibold">HTML</p>
        </div>
      </div>
      <p class="card-text text-white">
        {{ 'PORTFOLIO.DESCRIPTION-2' | translate }}
      </p>
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="https://github.com/ErikRodriguezE/E-Commerce-whit-API" target="_blank">
            <img
              class="border rounded-circle imgProfile imgReferences"
              style="animation-duration: 4s; animation-delay: 0s"
              src="media/github.png"
              alt=""
            />
          </a>
        </div>
        <div class="col-auto">
          <a href="https://erikrodrigueze.github.io/E-Commerce-whit-API/" target="_blank">
            <img
              class="border rounded-circle imgProfile imgReferences"
              style="animation-duration: 5s; animation-delay: 0s"
              src="media/portfolio/Link icon.png"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-transparent border-0" style="width: 20rem">
    <img class="card-img-top" src="media/portfolio/AtlasAssistant.png" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title text-white">{{ 'PORTFOLIO.TITLE-1' | translate }}</h4>
      <div class="row align-items-start">
        <div class="col-auto">
          <p class="border-0 text-white d-inline-block p-1 rounded bgTec small fw-semibold">JAVA</p>
        </div>
        <div class="col-auto">
          <p class="border-0 text-white d-inline-block p-1 rounded bgTec small fw-semibold">MySQL</p>
        </div>
      </div>
      <p class="card-text text-white">
        {{ 'PORTFOLIO.DESCRIPTION-1' | translate }}
      </p>
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="https://github.com/juanc692/AtlasAssistant" target="_blank">
            <img
              class="border rounded-circle imgProfile imgReferences"
              style="animation-duration: 4s; animation-delay: 0s"
              src="media/github.png"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
